*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #E9967A;
}
h1,h2,h4,li{
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: #555;
	text-decoration: none; 
}
h3{
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: #555;
	text-decoration: none;

}
h6{
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	color: #555;
	text-decoration: none;
	text-align: center;
}
header{
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 30px 10%;
	background-color: #c65353;
}
ul{
	list-style-type: none;
	background-color: #c65353;
}
.nav_links{
	list-style: none;
}
.nav_links li{
	display: inline-block;
	padding: 0px 20px;
	background-color: #c65353;
}
.nav_links li a{
	transition: all 0.3s ease 0s;
	color: #fff;
	background-color: #c65353;
}
.nav_links li a:hover{
	color: #0088a9
}
.container{
	padding: 5px;	
}
.left_bar{
	margin-left: 5px;
	width: 15%;
	float: left;
	height: 820px;
	border-right: 2px solid grey;
	border-height: 850px;
}
.main_bar{
	height: 820px;
}
.title{
	text-align: center;
	margin: auto;
	color: #555;
}

.row{
	margin-left: 170px;
	width: 80%;
	display: flex;
	align-items: center;
	height: 250px;
	padding: 10px;
}
.col-4{
	flex-basis: 40%;
	min-width: 0px;
	justify-content: space-between;
}
.col-4 img{
	max-width: 200px;
	max-height: 200px;
	padding: 0 10px;
}
.col-4:hover{
	transform: translateY(-20px);
}
input[type="checkbox"]{
	width: 20px;
	height: 10px;
	position: relative;
	-webkit-appearance: none;
	background: #c6c6c6;
	outline: none;
	border-radius: 5px;
	/*transition: .5s;*/
	box-shadow: inset 0 0 5px rgba(0,0,0,.2);
}
input:checked[type="checkbox"]{
	background: #0088a9;
}
input[type="checkbox"]:before{
	content: '';
	position: absolute;
	height: 10px;
	width: 10px;
	border-radius: 5px;
	top: 0;
	left: 0;
	background: #fff;
	transition: .2s;
	transform: scale(1); 
	box-shadow: 0 2px 5px rgba(0,0,0,.2);

}
input:checked[type="checkbox"]:before{
	left: 10px;
}
footer{
	height: 50px;
	text-align: center;
	background-color: #c65353
}
footer h4{
	background-color: #c65353
}
